@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.services {
  @include section-pad;

  .block {
    @include dark-block;

    h2 {
      color: $white;
    }
  }

  .header {
    padding: $padding-sm $padding-md;
  }

  .accent {
    color: $primary;
  }

  .grid {
    display: grid;
    border-top: 2px solid $dark-stroke;

    @media (min-width: $bp-md) {
      grid-template-columns: repeat(2, 1fr);

      &>.col:nth-child(odd) {
        border-right: 2px solid $dark-stroke;
      }
    }

    @media (min-width: $bp-lg) {
      grid-template-columns: repeat(4, 1fr);

      &>.col:nth-child(odd) {
        border-right: none;
      }

      &>.col:not(:last-child) {
        border-right: 2px solid $dark-stroke;
      }
    }
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5rem;
    min-height: 22rem;
    padding: $padding-sm $padding-md;
  }

  .col-label {
    color: $text-on-dark;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }
}