body {
  position: relative;
  max-width: 120rem;
  margin: 0 auto;
  background: var(--bg-lg);
  height: 100vh;

  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fs);
  color: var(--text-d);

  .g {
    color: var(--text-g);
  }

  .l {
    color: var(--text-l);
  }

  .gd {
    color: var(--text-gd);
  }
}

.simplebar-scrollbar::after {
  background-color: var(--text-d) !important;
  opacity: 1;
}

header {
  position: absolute;
  top: var(--g20);
  left: 50%;
  transform: translateX(-50%);
}

.menu-overlay {
  position: fixed;
  top: var(--g20);
  left: var(--g20);
  right: var(--g20);
  bottom: var(--g20);
  background: var(--bg-d);
  border-radius: var(--g20);
  corner-shape: var(--s);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  clip-path: circle(0% at 92% 3%);
  transition: clip-path 0.9s ease-in-out;

  #close-btn {
    position: absolute;
    top: var(--g40);
    right: var(--g40);
  }

  .btn {
    margin-top: 3.5rem;
  }
}

.menu-overlay.active {
  clip-path: circle(140% at 92% 3%);
}

.menu-overlay>* {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.menu-overlay.active>* {
  opacity: 1;
  transition-delay: 0.4s;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--g20);
  background: var(--bg-d);
  border-radius: var(--g20);
  corner-shape: var(--s);
  padding: var(--g20) var(--lr);

  #contact-form {
    display: flex;
    flex-direction: column;
    gap: var(--g20);
    grid-column: 2 / 4;
  }
}

main {
  background-color: var(--bg-lg);
}

.hdn {
  display: flex;
  padding: var(--tb) var(--lr);
  padding-top: calc(var(--tb) + var(--g40));
  background: radial-gradient(ellipse 50% 100% at center top, rgba(255, 175, 94, 0.75) 0%, rgba(255, 175, 94, 0) 100%);
}

.hdn-c {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--g20) var(--lr);
}

.btn {
  display: flex;
  align-items: center;
  gap: var(--g10);
  padding: 1.0625rem 1.875rem 1.125rem;
  color: var(--text-l);
  background: var(--btn-d-d);
  transition: var(--tr);
  border-radius: var(--g10);
  corner-shape: var(--s);
  outline: none;
  border: none;

  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fs);

  &:hover {
    color: var(--text-d);
    background: var(--btn-d-h);
  }

  &.btn-p {
    padding: 23px 30px 24px;
    background: var(--btn-p-d);
    color: var(--text-d);
    justify-content: center;
    font-weight: 500;

    &:hover {
      background: var(--btn-p-h);
    }
  }

  &.btn-l {
    width: 4.5rem;
    height: 4.5rem;
    padding: 0;
    background: var(--btn-l-d);
    color: var(--text-d);
    border-radius: 50%;
    corner-shape: initial;
    justify-content: center;
    font-weight: 500;

    &:hover {
      background: var(--btn-l-h);
    }
  }
}

.circle {
  margin-top: 1px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--available);
  animation: blink 1.8s ease infinite;
}

@keyframes blink {

  0%,
  100% {
    background-color: var(--available);
  }

  50% {
    background-color: var(--available-tr);
  }
}

.links {
  position: absolute;
  top: calc(var(--g20) + 1rem);
  left: 50%;
  transform: translateX(-50%);

  ul {
    list-style: none;
    display: flex;
    gap: var(--g40);
  }
}

.link {
  font-weight: 500;
}

.cases {
  padding: 0 var(--lr);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--g20);
  row-gap: var(--g80);
}

.case {
  display: flex;
  flex-direction: column;
  gap: var(--g15);
}

.case-d {
  display: flex;
  flex-direction: column;
  gap: var(--g5);
}

.case-img {
  border-radius: var(--g20);
  corner-shape: var(--s);
  overflow: hidden;

  img {
    width: 100%;
    transition: var(--tr);
  }

  &:hover {
    img {
      transform: scale(1.02);
    }
  }
}

.marquee {
  padding: var(--tb) var(--lr);
}

.marquee-c {
  padding: 1rem 0;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(to right,
      transparent 0%,
      black 25%,
      black 75%,
      transparent 100%);
}

.marquee-track {
  display: inline-flex;
  animation: scroll 20s linear infinite;
  will-change: transform;
}

.marquee-track h3 {
  margin: 0;
  padding-right: 4rem;
}

@keyframes scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.adv {
  padding: 0 var(--lr);
  display: flex;
  flex-direction: column;
  gap: var(--g80);
}

.adv-c {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--g20);
}

.block-h {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--g20);

  h2 {
    grid-column: 2 / 4;
  }
}

.adv-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: var(--g10);
  background: var(--bg-l);
  min-height: 14rem;
  border-radius: var(--g20);
  corner-shape: var(--s);
  padding: var(--g40);

  &.b {
    grid-row: 1 / 3;
  }

  &.w {
    grid-column: 2 / 4;
  }

  p {
    color: var(--text-g);
  }
}

.res {
  padding: 0 var(--lr);
  margin-top: -20vh;
  height: 400vh;
}

.res-h {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 44vh;
}
















.contact {
  padding: 0 var(--lr);
}

.contact-c {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--g20);
  background: var(--bg-d);
  border-radius: var(--g20);
  corner-shape: var(--s);
  padding: var(--g40);

  #contact-form {
    display: flex;
    flex-direction: column;
    gap: var(--g20);
    grid-column: 2 / 4;

    .btn {
      margin-top: 3.5rem;
    }
  }
}

.form-in {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--g20);
}

input,
textarea {
  padding: 1.25rem 0;
  height: max-content;
  background: none;
  border: none;
  outline: none;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fs);
  color: var(--text-g);
  box-shadow: 0 1px 0 0 var(--bor-d);
  transition: var(--tr);

  &:active,
  &:focus {
    color: var(--text-l);
    box-shadow: 0 1px 0 0 var(--bor-l);
  }

  &:hover {
    box-shadow: 0 1px 0 0 var(--bor-l);
  }

  &:not(:placeholder-shown) {
    color: var(--text-l);
  }
}

textarea {
  resize: none;
  overflow: hidden;
  min-height: 1.5rem;
  height: auto;
}

.file-upload {
  padding: 1rem 0;
  color: var(--text-g);
  box-shadow: 0 1px 0 0 var(--bor-d);
  transition: var(--tr);
  cursor: pointer;

  * {
    cursor: pointer;
  }

  &:active,
  &:focus,
  &:hover {
    color: var(--text-l);
    box-shadow: 0 1px 0 0 var(--bor-l);
  }
}

.v-c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--g20);
}