.toast {
  position: fixed;
  top: var(--g20);
  left: var(--lr);
  z-index: 1000;
  min-width: 12.5rem;
  padding: var(--g20) var(--g25);
  color: var(--text-l);
  background: var(--bg-a);
  border-radius: var(--g25);
  corner-shape: var(--s);
  opacity: 0;
  transform: translateY(-1.25rem);
  transition: var(--tr);
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}

header {
  position: fixed;
  left: 50%;
  z-index: 100;
  padding: var(--g20);
  padding-bottom: 0;
  transition: var(--tr-m);
  transform: translateX(-50%) translateY(-100%);
}

header.show {
  transform: translateX(-50%) translateY(0);
}

.header-c {
  display: flex;
  align-items: center;
  gap: var(--g40);
  padding: var(--g10);
  padding-left: var(--g40);
  background: var(--bg-l);
  border-radius: var(--g25);
  corner-shape: var(--s);
}

/* .link {
  font-weight: 500;
} */

.links {
  display: flex;
  align-items: center;
  text-wrap: nowrap;

  ul {
    list-style: none;
    display: flex;
    gap: var(--g40);
  }
}

#cases,
#reviews {
  scroll-margin-top: 16vh;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-height: 100vh;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--g20) var(--g40);
  padding-bottom: 0;
  transform: translateY(-100%);
  transition: var(--tr-l);

  #close-btn {
    display: flex;
    position: absolute;
    z-index: 10;
    top: var(--g30);
    right: var(--g30);
    margin-top: 0;

    &:after {
      content: '';
      position: absolute;
      top: -1.25rem;
      left: -1.25rem;
      right: -1.25rem;
      bottom: -1.25rem;
    }

    &:hover path {
      fill: var(--text-l);
    }
  }

  .btn {
    margin-top: 3.5rem;
  }
}

.menu-overlay.active {
  transform: translateY(0);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: var(--g20);
  grid-column: 2 / 4;
}

.form-in {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--g20);
}

.contact {
  padding: 0 var(--lr);
}

.contact-c {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--g20);
  background: var(--bg-d);
  border-radius: var(--g25);
  corner-shape: var(--s);
  padding: var(--g40);

  .btn {
    margin-top: 3.5rem;
    width: 100%;
  }
}

input,
textarea {
  padding: 1.25rem 0;
  height: max-content;
  background: none;
  border: none;
  outline: none;
  font-family: 'Vela Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fs);
  color: var(--text-g);
  box-shadow: 0 1px 0 0 var(--bor-d);
  transition: var(--tr);

  &:active,
  &:focus {
    color: var(--text-l);
    box-shadow: 0 1px 0 0 var(--bor-l);
  }

  &:hover {
    box-shadow: 0 1px 0 0 var(--bor-l);
  }

  &:not(:placeholder-shown) {
    color: var(--text-l);
  }
}

textarea {
  resize: none;
  overflow: hidden;
  min-height: 1.5rem;
  height: auto;
  scrollbar-color: var(--text-gd) var(--bg-d);
}

.file-upload {
  color: var(--text-g);
  box-shadow: 0 1px 0 0 var(--bor-d);
  transition: var(--tr);
  cursor: pointer;

  * {
    cursor: pointer;
  }

  .file-label-text {
    padding: 1rem 0;
  }

  &:active,
  &:focus,
  &:hover {
    color: var(--text-l);
    box-shadow: 0 1px 0 0 var(--bor-l);
  }
}

.v-c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--g20);
}

main {
  width: 100%;
  background: var(--bg-lg);
  border-bottom-left-radius: calc(var(--g25) * 2);
  border-bottom-right-radius: calc(var(--g25) * 2);
}

.main-c {
  position: relative;
  max-width: 120rem;
  margin: 0 auto;
}

.main-c2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.hdn {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: calc(var(--tb) - 2rem);
  padding: var(--g20) var(--lr);
  padding-bottom: var(--tb);
  background: radial-gradient(ellipse 50% 100% at center top, rgba(255, 175, 94, 0.75) 0%, rgba(255, 175, 94, 0) 100%);
}

.hdn-c {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.logo {
  height: 2rem;
  width: max-content;

  &.logo-d path {
    fill: var(--bg-d);
  }

  &.logo-l path {
    fill: var(--bg-l);
  }
}

.btn {
  display: flex;
  align-items: center;
  width: max-content;
  gap: var(--g10);
  padding: 1rem 2rem;
  color: var(--text-l);
  background: var(--btn-d-d);
  transition: var(--tr);
  border-radius: var(--g15);
  corner-shape: var(--s);
  outline: none;
  border: none;

  font-family: 'Vela Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fs);

  &:hover {
    color: var(--text-d);
    background: var(--btn-d-h);
  }

  &.btn-p {
    padding: 1.5rem 1.75rem;
    background: var(--btn-p-d);
    color: var(--text-d);
    justify-content: center;
    font-weight: 500;

    &:hover {
      background: var(--btn-p-h);
    }
  }

  &.btn-l {
    background: var(--btn-l-d);
    color: var(--text-d);
    font-weight: 500;

    &:hover {
      background: var(--btn-l-h);
    }
  }

  &.btn-dh-g {
    &:hover {
      background: var(--btn-dh-g);
    }
  }
}

.circle {
  margin-top: 1px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--available);
  animation: blink 1.8s ease infinite;
}

@keyframes blink {

  0%,
  100% {
    background: var(--available);
  }

  50% {
    background: var(--available-tr);
  }
}

.hdn-d {
  position: absolute;
  bottom: var(--g40);
  right: var(--g40);
  left: var(--g40);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--g20);

  p {
    grid-column: 3 / 4;
  }
}

.cases {
  padding: 0 var(--lr);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--g20);
  row-gap: var(--g120);
}

.case {
  display: flex;
  flex-direction: column;
  gap: var(--g15);

  &.wide {
    grid-column: 1 / 4;

    .case-img {
      aspect-ratio: 80 / 33;
    }
  }

  &.left {
    grid-column: 1 / 3;

    .case-img {
      aspect-ratio: 16 / 10;
    }
  }

  &.right {
    grid-column: 2 / 4;

    .case-img {
      aspect-ratio: 16 / 9;
    }
  }
}

.case-d {
  display: flex;
  flex-direction: column;
  gap: var(--g5);
}

.case-img {
  grid-column: 2 / 4;
  aspect-ratio: 2 / 1;
  display: flex;
  justify-content: center;
  padding: var(--g80);
  padding-bottom: 0;
  background: #e3e3e3;
  border-radius: var(--g25);
  corner-shape: var(--s);
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: var(--tr);
  }

  &:hover {
    img {
      transform: scale(1.025);
    }
  }
}

.marquee {
  padding: var(--tb) var(--lr);
}

.marquee-c {
  padding: 1rem 0;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(to right,
      transparent 0%,
      black 25%,
      black 75%,
      transparent 100%);
}

.marquee-track {
  display: inline-flex;
  animation: scroll 20s linear infinite;
  will-change: transform;
}

.marquee-track h2 {
  margin: 0;
  padding-right: 4rem;
}

@keyframes scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.adv {
  position: relative;
  padding: 0 var(--lr);
  display: flex;
  flex-direction: column;
  gap: var(--g80);
  padding-bottom: var(--tb);
}

.adv-c {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--g20);
  z-index: 10;
}

.block-h {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--g20);
  z-index: 10;

  h4 {
    color: var(--text-g-tr);
  }

  h2 {
    grid-column: 2 / 4;
  }
}

.adv-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: var(--g5);
  background: var(--bg-l);
  min-height: 16vw;
  border-radius: var(--g25);
  corner-shape: var(--s);
  padding: var(--g40);

  &.b {
    grid-row: 1 / 3;
  }

  &.w {
    grid-column: 2 / 4;
  }

  p {
    color: var(--text-gd);
  }
}

.gr {
  position: absolute;
  transform: translateY(-50%);
  height: 100%;
  top: 50%;
  opacity: 0.75;
  pointer-events: none;

  &.r {
    right: 0;
    transform: translate(50%, -50%);
  }

  &.l {
    left: 0;
    transform: translate(-50%, -50%);
  }
}

.res {
  position: relative;
  padding: 0 var(--lr);
  max-width: 120rem;
}

.res-h {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: calc((100vh - 9.0625rem) / 2);
  padding-bottom: var(--g15);
  margin-top: calc(-1 * (100vh - 9.0625rem) / 2);
  transition: var(--tr-f);

  &.fixed {
    opacity: 0.15;
  }
}

.res-c {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--tb);
  margin-top: var(--tb);
  padding-bottom: var(--tb);
}

.res-card {
  display: flex;
  flex-direction: column;
  background: var(--bg-lg);
  gap: var(--g5);
  overflow: hidden;
  z-index: 10;
  border-radius: var(--g25);
  corner-shape: var(--s);

  &.left {
    grid-column: 1 / 3;
  }

  &.right {
    grid-column: 2 / 4;
  }
}

.res-d {
  display: flex;
  flex-direction: column;
  gap: var(--g10);
  padding: var(--g40);
  background: var(--bg-l);
  border-radius: var(--g5);
  corner-shape: var(--s);
}

.res-r {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--g5);
}

.res-rc {
  display: flex;
  align-items: end;
  gap: var(--g20);
  padding: var(--g40);
  background: var(--bg-l);
  border-radius: var(--g5);
  corner-shape: var(--s);

  p {
    padding-bottom: 2px;
  }
}

.res-gr {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 66%, rgba(245, 245, 245, 1) 100%);
  height: calc(var(--tb) * 3);
  z-index: 5;
}

.hiw {
  padding: var(--tb) var(--lr);
  display: flex;
  flex-direction: column;
  gap: var(--g80);
}

.hiw-c {
  display: flex;
  flex-direction: column;
  gap: var(--g5);
  border-radius: var(--g25);
  corner-shape: var(--s);
  overflow: hidden;
}

.hiw-card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--g20);
  padding: var(--g40) 0;
  background: var(--bg-l);
  height: 7.1875rem;
  transition: var(--tr);
  border-radius: var(--g5);
  corner-shape: var(--s);
  overflow: hidden;

  .num path {
    transition: var(--tr-m);
  }

  p {
    opacity: 0;
    transform: translateY(-0.625rem);
    transition: var(--tr);
  }

  &:hover {
    height: 10.875rem;

    p {
      opacity: 1;
      transform: initial;
    }

    .num path {
      fill: var(--bg-d);
    }
  }
}

.num {
  position: absolute;
  top: var(--g40);
  left: var(--g40);
  height: 5.75rem;
  width: auto;
}

.hiw-d {
  display: flex;
  flex-direction: column;
  gap: var(--g10);
  padding-right: var(--g40);
  grid-column: 2 / 4;
}

.rev {
  padding: 0 var(--lr);
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  width: 100%;
  gap: var(--g80);
  padding-bottom: var(--tb);
}

.rev-c {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--g5);
  border-radius: var(--g25);
  corner-shape: var(--s);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--bg-d);
  z-index: -5;
}

.footer-c {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--g20);
  color: var(--text-l);
  padding: var(--g40) var(--lr);
}

.footer-g {
  display: flex;
  flex-direction: column;
  gap: var(--g40);

  &.j {
    justify-content: space-between;
  }
}

.footer-g2 {
  display: flex;
  flex-direction: column;
  gap: var(--g10);
}

.fake-footer {
  position: relative;
  z-index: -10;
}

.ph-s {
  display: none;
}