@font-face {
  font-family: 'Vela Sans';
  src: url('/static/fonts/VelaSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vela Sans';
  src: url('/static/fonts/VelaSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vela Sans';
  src: url('/static/fonts/VelaSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vela Sans';
  src: url('/static/fonts/VelaSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --pri: #FFA54B;

  --bg-d: #161616;
  --bg-l: #fff;
  --bg-lg: #f5f5f5;
  --bg-gl: #cacaca;
  --bg-a: #5dc561;

  --text-d: #161616;
  --text-l: #fff;
  --text-g: #808080;
  --text-gd: #464646;
  --text-r: #60D884;

  --text-g-tr: #00000080;

  --available: #43EF71;
  --available-tr: #bababa38;

  --btn-d-d: #161616;
  --btn-d-h: #fff;

  --btn-dh-g: #f0f0f0;

  --btn-l-d: #fff;
  --btn-l-h: #f0f0f0;

  --btn-p-d: #FFA54B;
  --btn-p-h: #fff;

  --bor-d: #303030;
  --bor-l: #fff;

  --btn: 1.125rem 1.75rem;
  --tb: 15rem;
  --lr: 2.5rem;

  --g5: 0.3125rem;
  --g10: 0.625rem;
  --g15: 0.9375rem;
  --g20: 1.25rem;
  --g25: 1.5625rem;
  --g30: 1.875rem;
  --g40: 2.5rem;
  --g60: 3.75rem;
  --g80: 5rem;
  --g120: 7.5rem;
  --g240: 15rem;

  --fs: 1.125rem;

  --tr-f: opacity 0.075s ease;
  --tr: color 0.3s ease, background 0.3s ease,
    box-shadow 0.3s ease, transform 0.3s ease,
    fill 0.3s ease, padding 0.3s ease, height 0.3s ease,
    opacity 0.3s ease;
  --tr-m: transform 0.6s ease, fill 0.6s ease;
  --tr-l: transform 0.9s ease, opacity 0.9s ease;

  --s: superellipse(1.3);
}

#experience {
  scroll-margin-top: 15rem;
}

/* [id="2"] {
  scroll-margin-top: -4.575rem;
} */

html {
  scrollbar-color: var(--bg-gl) var(--bg-lg);
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: var(--bg-d);
  color: var(--pri);
}

body {
  position: relative;
  height: 100vh;
  background: var(--bg-d);

  font-family: 'Vela Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fs);
  color: var(--text-d);

  .g {
    color: var(--text-g);
  }

  .l {
    color: var(--text-l);
  }

  .gd {
    color: var(--text-gd);
  }

  .r {
    color: var(--text-r);
  }
}

a {
  text-decoration: none;
  display: flex;
  color: var(--text);
  outline: none;

  &:hover {
    color: var(--text-h);
  }
}

img {
  vertical-align: middle;
}

path {
  transition: var(--tr);
}

/* .gsap-1,
.gsap-2,
.gsap-3,
.gsap-4 {
  will-change: transform, opacity;
  transform: translateZ(0);
  backface-visibility: hidden;
} */

h1 {
  font-size: 4.5rem;
  line-height: 0.9;
  font-weight: 700;
  letter-spacing: -0.05em;
}

h2 {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 600;
  letter-spacing: -0.04em;
}

h3 {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: -0.03em;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 500;
}