@use "./variables" as *;
@use "./reset";

body {
  background-color: $bg;
  color: $dark;
  font-family: "Manrope", "Vela Sans", sans-serif;
  font-size: clamp(1rem, 0.97rem + 0.13vw, 1.125rem);
  font-weight: 400;
  line-height: 1.5;
  font-feature-settings: "ss01", "cv11";
}

h1, h2, h3, h4 { letter-spacing: -0.02em; }

h1 {
  font-size: clamp(2.5rem, 2.27rem + 1.03vw, 3.5rem);
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.04em;
}

h2 {
  font-size: clamp(1.75rem, 3vw, 2.5rem);
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: -0.03em;
}

h3 {
  font-size: clamp(1.25rem, 2vw, 1.75rem);
  font-weight: 600;
  line-height: 1.2;
}