@use "./variables" as *;
@use "./reset";

body {
  background-color: $bg;
  color: $dark;
  font-family: "Manrope", "Vela Sans", sans-serif;
  font-size: clamp(1rem, 0.9583rem + 0.1389vw, 1.125rem);
  font-weight: 400;
  line-height: 1.5;
  font-feature-settings: "ss01", "cv11";
  scroll-behavior: smooth;
}

h1, h2, h3, h4 { letter-spacing: -0.02em; }

h1 {
  font-size: clamp(2.5rem, 2.27rem + 1.03vw, 3.5rem);
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.04em;
}

h2 {
  font-size: clamp(1.5rem, 1.1667rem + 1.1111vw, 2.5rem);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

h3 {
  font-size: clamp(1.25rem, 1.125rem + 0.4167vw, 1.625rem);
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.02em;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: $btn-md;
  font-weight: 500;
  font-size: clamp(1rem, 0.9583rem + 0.1389vw, 1.125rem);
  color: $dark;
  cursor: pointer;
  transition: filter 0.2s, opacity 0.2s, background 0.2s;
  width: max-content;

  &--primary {
    background: $primary;

    &:hover {
      filter: brightness(1.05);
    }
  }

  &--light {
    background: $white;

    &:hover {
      filter: brightness(0.95);
    }
  }

  &--dark {
    background: $dark;
    color: $white;

    &:hover {
      filter: brightness(1.15);
    }
  }

  &--sm {
    padding: $btn-sm;
  }
}

.link {
  transition: color 0.3s ease;

  &:hover {
    color: $text-muted;
  }
}