@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

@keyframes header {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blink {

  0%,
  100% {
    background: greenyellow;
  }

  50% {
    background: gray;
  }
}

.site-header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 50;
  padding: 1.25rem 0;
  animation: header 1.5s ease forwards;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

    .circle {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: var(--available);
      animation: blink 1.8s ease infinite;
    }

  .logo svg{
    height: 2rem;
    width: auto;
  }

  .nav {
    display: none;
    align-items: center;
    gap: 2rem;

    @media (min-width: $bp-lg) {
      display: flex;
    }
  }
}