<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Waynut — разработка, дизайн и продвижение сайтов</title>
  <meta name="description" content="Создаем уникальные фотожурналы для особенных моментов жизни.
  Профессиональная фотосессия, дизайн и печать — вам остается только наслаждаться результатом">

  <!-- <link rel="preload" href="fonts/Manrope-Regular.woff2" as="font" type="font/woff2" crossorigin> -->
  <!-- <link rel="preload" href="img/2.webp" as="image"> -->

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">


  <link rel="icon" type="image/png" href="img/icon.png">

  <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />
  <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
</head>

<body>
  <header>

  </header>
  <div id="toast-container" style="position: fixed; top: 20px; right: 20px; z-index: 9999;"></div>

  <div class="menu-overlay" id="menu-overlay">
    <div class="menu">
      <div class="btn btn-l" id="close-btn">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M9.45455 8L16 14.5455L14.5455 16L8 9.45455L1.45455 16L0 14.5455L6.54545 8L0 1.45455L1.45455 0L8 6.54545L14.5455 0L16 1.45455L9.45455 8Z"
            fill="#151515" />
        </svg>
      </div>
      <div class=" v-c">
        <h2 class="l">
          Давайте обсудим <br />
          ваш проект
        </h2>
      </div>
      <form class="contact-form">
        <div class="form-in">
          <input type="text" name="name" placeholder="Имя" required pattern="[А-Яа-яA-Za-z\s]+" title="Только буквы" />

          <input type="text" name="company" required placeholder="Компания" />

          <input type="email" name="email" required placeholder="Почта" />

          <input type="tel" name="phone" name="phone" placeholder="Номер телефона" required pattern="\+?[0-9]{7,15}">

        </div>
        <textarea name="comment" rows="1" contenteditable="true" placeholder="Описание задачи"></textarea>
        <div class="file-upload">
          <label for="file-input" class="file-label">
            <span class="file-label-text" style="display: flex; align-items: center; gap: var(--g10)">
              <span style="font-size: 2rem; font-weight: 300; line-height: 80%">+</span>
              Прикрепить файл
            </span>
            <input type="file" multiple style="display: none" />
          </label>

          <div class="file-list"></div>
        </div>
        <button type="submit" class="btn btn-p">Отправить заявку</button>
        <p class="gd">
          Отправляя заявку, вы соглашаетесь с <a class="g" style="display: inline;" href="docs/privacy_policy.docx"
            target="_blank">политикой конфиденциальности</a>
        </p>
      </form>
    </div>
  </div>

  <main>
    <div class="hdn">
      <div class="hdn-c">
        <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo">
        <nav class="links">
          <ul>
            <li><a href="#cases" class="link">Главная</a></li>
            <li><a href="#advantages" class="link">Наши преимущества</a></li>
            <li><a href="#results" class="link">Результаты</a></li>
            <li><a href="#reviews" class="link">Отзывы</a></li>
          </ul>
        </nav>
        <a class="btn" href="#" id="menu-btn">
          <div class="circle"></div>
          Обсудить проект
        </a>
      </div>
      <h1>Разработка и дизайн<br>цифровых продуктов</h1>
    </div>

    <div class="cases">
      <div class="case" 
      data-cover="{{ url_for('static', filename='img/cases/1/1.jpg') }}" 
      data-name="Mutek"
      data-description="Сайт фестиваля digital-креатива в Мексико" 
      data-href="#">
 </div>
 
 <div class="case" 
      data-cover="{{ url_for('static', filename='img/cases/2/1.jpg') }}" 
      data-name="Mutek"
      data-description="Сайт фестиваля digital-креатива в Мексико" 
      data-href="#">
 </div>
 
 <div class="case" 
      data-cover="{{ url_for('static', filename='img/cases/1/1.jpg') }}" 
      data-name="Mutek"
      data-description="Сайт фестиваля digital-креатива в Мексико" 
      data-href="#">
 </div>
 
 <div class="case" 
      data-cover="{{ url_for('static', filename='img/cases/2/1.jpg') }}" 
      data-name="Mutek"
      data-description="Сайт фестиваля digital-креатива в Мексико" 
      data-href="#">
 </div>
 
    </div>

    <div class="marquee">
      <div class="marquee-c">
        <div class="marquee-track" id="marquee-track">
          <h3>Боты для ВКонтакте</h3>
          <h3>Создание презентации</h3>
          <h3>Боты для Телеграм</h3>
          <h3>Разработка сайтов</h3>
          <h3>Дизайн интерфейсов</h3>
          <h3>Боты для ВКонтакте</h3>
          <h3>Создание презентации</h3>
          <h3>Боты для Телеграм</h3>
          <h3>Разработка сайтов</h3>
          <h3>Дизайн интерфейсов</h3>
        </div>
      </div>
    </div>

    <div class="adv">
      <div class="block-h">
        <h4 class="g">Преимущества</h4>
        <h2>Мы не просто делаем сайты, а являемся стратегическим партнером для бизнеса</h2>
      </div>
      <div class="adv-c">
        <div class="adv-card b">
          <h4>Честные цены</h4>
          <p>Работаем без посредников и агентских наценок</p>
        </div>
        <div class="adv-card w">
          <h4>Собственный дизайн</h4>
          <p>Создаем уникальный стиль под ваш бренд, без шаблонов</p>
        </div>
        <div class="adv-card">
          <h4>Прямое общение</h4>
          <p>Обсуждайте проект c нашей командой</p>
        </div>
        <div class="adv-card">
          <h4>Быстрый старт</h4>
          <p>Начинаем работу через 1-2 дня</p>
        </div>
      </div>
    </div>

    <div class="res">
      <div class="res-h">
        <h1>Предлагаем решения<br>приносящие результат</h1>
      </div>

    </div>

    <div class="contact">
      <div class="contact-c">
        <div class="v-c">
          <h2 class="l">
            Давайте обсудим <br />
            ваш проект
          </h2>
          <p class="gd">
            Отправляя заявку, вы соглашаетесь с
            <a class="g" style="display: inline;" href="docs/privacy_policy.docx" target="_blank">
              политикой конфиденциальности</a>
          </p>
        </div>
        <form class="contact-form">
          <div class="form-in">
            <input type="text" name="name" placeholder="Имя" required pattern="[А-Яа-яA-Za-z\s]+"
              title="Только буквы" />

            <input type="text" name="company" required placeholder="Компания" />

            <input type="email" name="email" required placeholder="Почта" />

            <input type="tel" name="phone" name="phone" placeholder="Номер телефона" required pattern="\+?[0-9]{7,15}">

          </div>
          <textarea name="comment" rows="1" contenteditable="true" placeholder="Описание задачи"></textarea>
          <div class="file-upload">
            <label for="file-input" class="file-label">
              <span class="file-label-text" style="display: flex; align-items: center; gap: var(--g10)">
                <span style="font-size: 2rem; font-weight: 300; line-height: 80%">+</span>
                Прикрепить файл
              </span>
              <input type="file" multiple style="display: none" />
            </label>

            <div class="file-list"></div>
          </div>
          <button type="submit" class="btn btn-p">Отправить заявку</button>
        </form>
      </div>
    </div>
  </main>

  <footer></footer>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>